*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h2 .h4{
    font-weight: 500;
    line-height: 1.2;
}

.container{
    padding-left: 0px;
    padding-right: 0px;
}

a{
    text-decoration: none;
}
a:hover {
    text-decoration: none; 
    color: inherit; 
}
/* nav{
    display: flex;
    padding: 20px 0 20px 0 !important;
}
.nav-logo{
    cursor: pointer;
    margin: 10px 0 0 0;
}
.nav-button{  
    font-size: 12px;
    padding: 5px 22px;
}

.nav-li{
    margin: 7px 0 0;
    font-size: 15px; 
    font-weight: 400;
    letter-spacing: 0.5px; 
} */



.nav_left {
    background-color: #fbbe15;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    border-top: 4px solid #fff;
    color: #fff;
}

.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 30px 0 40px;
}

.nav-tabs {
    border-bottom: none;
}

.nav-link {
    padding: 1rem 0.5rem;
    color: #fff;
}

.nav-link:focus,
.nav-link:hover {
    color: #fff;
}

.search_input {
    width:100%;
    border-radius: 10px;
    border: none;
    line-height: initial;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #f19159;
}

.search_input:focus-visible {
    outline: none;
}

input.search_input::placeholder {
    color: #cfd2ec;
    vertical-align: middle;
}

.search_img {
    top: 7px;
    right: 8px;
}

.navbar-toggler {
    border: 3px solid #fbbe15;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(35, 76, 203, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
    box-shadow: none;
}






footer{
    background-color: #121212;
    
    
}
footer p{
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    opacity: .6;
    padding: 5px;

}
footer h6{
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
}

footer .anticon {
    color: #fff;
    cursor: pointer;
    font-size: 23px;
    margin-right: 6px;
}

.footer-content{
    padding: 70px 0 70px 0;
}

footer ul li{
    color: #fff;
    line-height: 35px;
    list-style: none;
    opacity: .8;
}

footer ul li a{
    color: #fff;
    line-height: 35px;
    list-style: none;
    opacity: .8;
}

footer h5{
    color: #fff;
    font-size: 15px;
}

.footer-copyright{
    background-color: #000;
}

.word {
    padding: 20px 0 20px 0;
    margin: auto;
    color: darkblue;
    font: 700 normal 3.2rem 'tahoma';
    /* font-size: 30pt; */
    font-family: inherit;
    font-weight: 400;
}

/* Text animation right left begin*/
.animate-charcter
{
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 85px;
    font-weight: bold;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Text animation right left end */

.slider h2{
    margin-top: 60px;
    font-weight: inherit;
    font-weight: 300;
    font-size: 40px;
}

.slider p{
    padding: 5px 0 5px 0;
    font-size: 18px;
}

.whychoose-panel{
    background: linear-gradient(45deg, rgb(52, 109, 243) 0%, rgb(0, 162, 255) 100%);
}

.whychoose-panel .container{
    padding: 50px 0 50px 0;
}

.whychoose-toppanel{
    padding-left: 50px;
    border-left: 3px solid #fff;
    color: #FFF;
}   

.whychoose-toppanel h2{
   font-size: 40px;
   margin-bottom: 30px;
}

.whychoose-toppanel p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 10px 0;
}

.container .box-wrapper{
    background-color: #158efb;
    padding: 30px !important;
    color: #FFF;
    height: 50vh;
}

.container .box-wrapper h3{
    font-size: 20px;
    margin-top: 10px;
}

.container .box-wrapper p{
    margin-top: 15px;
}

.container .box-wrapper img{
    margin: 10px 0 !important;
}

.container .box-align{
    margin-top: 25px;
}

.manage-project-panel{
    padding:80px 0px;
}

.manage-project-panel .container h2{
    font-size: 40px;
    font-family: inherit;
}

.manage-project-panel .container h4{
    font-size: 35px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 400px;
}


.list-panel{
    display: inline-block;
    width: 100%;
    padding-left: 35px;
    margin: 20px 0;
    border-left: 1px solid rgba(0, 0, 0, 0.6);
}

.form-module{
    border-left: none;
    padding-left: 0px;

}
 
.list-panel ul{
    padding-left: 0;
}

.list-panel ul li{
    list-style: none;
    /* margin: 10px 0; */
}

.list-panel ul p{
   font-size: 20px;
}

.list-panel ul li img{
    padding: 8px 15px 0 0;
}

/* Start project border animation begin */

.start-project-btn{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    background: rgba(0,0,0,0.09);
    padding: 10px 20px;

}
/* span{
display: block;
padding: 25px 80px;
} */
.start-project-btn::before, .start-project-btn::after{
    content:"";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.2s linear;
    background: #0000ff;
    border-left: none;
}

span::before, span::after{
    content:"";
    width:1px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #0000ff;
}
.start-project-btn:hover::before, .start-project-btn:hover::after{
    width: 100%;
}
.start-project-btn:hover span::before, .start-project-btn:hover span::after{
    height: 100%;
}
.start-project-btn::before{
    left: 50%;
    top: 0;
    transition-duration: 0.4s;
}
.start-project-btn::after{
    left: 50%;
    bottom: 0;
    transition-duration: 0.4s;
}
.start-project-btn span::before{
    left: 0;
    top: 50%;
    transition-duration: 0.4s;
}
.start-project-btn span::after{
    right: 0;
    top: 50%;
    transition-duration: 0.4s;
}
.start-project-btn:hover::before, .start-project-btn:hover::after{
    left: 0;
}
.start-project-btn:hover span::before, .start-project-btn:hover span::after{
    top: 0;
}

/* Start project border animation end */

.start-project-btn img{
    margin-left: 10px;
}

.industry-panel{
    background-color: #F6F6F6;
}

/* Jumping industry fone animation begin */
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-family: "Poppins", sans-serif;
    font-size: 80px;
}
.waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #3C4142 ;
    /* text-transform: uppercase; */
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
}
@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}

/* Jumping industry fone animation end */

.industry-panel .container{
    padding-top: 120px;
    padding-bottom: 100px;
}

.heading-two{
    font-size: 40px;
    color: #158efb;
}

.para-desc{
    width: 100%;
    max-width: 540px;
    margin: 30px auto;
}

.industry-panel .container img{
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: center;
    margin: 20px 0;
}

.hireus-panel{
    padding: 80px 0;
}

.hireus-panel h2{
    font-size: 40px;
}

.hireus-panel h4{
    max-width: 100%;
    font-size: 35px;
    color: #158efb;
}

.client-panel{
    background-color: #f9f9f9;
    padding-bottom: 150px;
}

.client-panel .container{
    padding-top: 120px;
}

.client-panel h2{
    letter-spacing: 10px;
    font-family: italic;
}

.client-panel h3{
    font-size: 40px;
    padding-bottom: 50px;
}

.client-panel .national{
    background: url('https://www.theaquarious.com/assets/images/clientale-national-bg.jpg') no-repeat;
    background-position: -38px center;
    background-size: contain;
    padding-bottom: 100px;
}

.national h3{
    font-size: 40px;
    margin-bottom: 40px;
    width: auto;
    margin-left: 0;
    opacity: 1;
    color: #158efb;
}

.national ul{
    margin: 0;
    padding-left: 290px;
    column-count: 3;
}

.client_logo_box{
    background: #fff;
    padding: 20px;
    display: inline-block;
    box-shadow: 0px 0px 20px rgba(214, 239, 251, 0.95);
    border-radius: 20px;
    margin: 10px 5px;
}

.client_logo_box img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.international{
    background: url('https://www.theaquarious.com/assets/images/clientele-international-bg.jpg') no-repeat;
    background-position: right bottom -50px;
    background-size: contain;
}

.international h3{
    font-size: 40px;
    margin-bottom: 40px;
    width: auto;
    margin-left: 0;
    opacity: 1;
    color: #158efb;
    text-align: right;
}

.international ul{
    list-style-type: none;
    margin: 0;
    padding-right: 290px;
    column-count: 3;
    padding-left: 2rem;
}

.solution-panel .container{
    padding-top: 120px;
    padding-bottom: 150px;
}

.solution-panel .icon_box{
    display: flex;
    align-items: center;
    width: 100%;
}

.solution-panel img{
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: center;
    margin: 20px 0;
}

.solution-panel .img-dxc{
    margin-left: 35px;
}

.solution-panel .img-dxc h6{
    font-size: 20px;
    margin-bottom: 10px;
}

.let-talk{
    margin-top: 50px;
}

.ourtech-panel{
    padding: 125px 0 100px;
    background-color: #f6f6f6;
}

.ourtech-panel h2{
    font-size: 40px;
    margin-bottom: 60px;
}

.exp-bx{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 15px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 312px;
    height: 90px;
    width: 100%;
    margin: 10px 0;
}

.exp-bx img{
    max-width: 60px;
    width: auto;
    margin-right: 30px;
}

.world-map{
    background: transparent linear-gradient(233deg, #00a2ff 0%, #346df3 100%) 0% 0% no-repeat padding-box;
}

.world-map ul{
    margin: 0;
    list-style-type: none;
    padding-bottom: 170px;
}

.world-map ul li{
   margin-top: 0;
}

.world-map ul li{
    display: inline-block;
    color: #fff;
    margin: 50px 0;
    border-left: 8px solid white;
    padding-left: 50px;
    font-size: 40px;
    margin: 20px 20px;

}

.world-map ul li span{
    font-weight: 600;
}

.specify-panel .container{
    padding: 120px 0 80px 0;
}

.specify-panel .icon_box{
    display: block;
    width: 100%;
}

.specify-panel .img-dxc{
    margin-left: 0;
}

.specify-panel .img-dxc h6{
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.specify-panel .img-dxc p{
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.specify-panel .icon_box img{
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: center;
    margin: 20px 0;
}

.review-panel{
    background-color: #f6f6f6;
    color: #000;
}

.review-panel .container{
    padding: 100px 0 80px 0;
}

.review-panel .container h2{
    font-size: 50px;
    color: #000;
    font-weight: 600;
}

.review-panel .container h2 img{
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 10px 20px;
    width: 100%;
    max-width: 300px;
    filter: invert(0%);
}

.contact-us{
    padding-bottom: 60px;
}

.contact-us .forminputbox_wrapper{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #000;
    margin: 10px 0;

}

.forminputbox_wrapper{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #000;
    margin: 10px 0;
}

.forminputbox_wrapper .leftico_panel{
    width: 62px;
    display: inline-block;
    vertical-align: top;
    padding: 15px 0 0 0;
    text-align: center;
}

.forminputbox_wrapper .leftico_panel img{
    display: inline-block;
    vertical-align: top;
    max-width: 35px;
    max-height: 30px;
    object-fit: contain;
    object-position: center;
}

.forminputbox_wrapper .rightbox_panel{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 66px);
    background-color: #f2f4f4;
}

.form-floating{
    position: relative;
}

.forminputbox_wrapper .rightbox_panel textarea.form-control{
    height: 160px;
}

.contact-us button span{
    position: relative;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
}

.stay-update-panel{
    background-color: #158efb;
    color: #fff;
    padding: 35px 0;
}

.stay-update-panel .left img{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.stay-update-panel .left{
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 15px 0;
    text-align: center;
}

.form-floating{
    position: relative;
}

.form-floating>input{
    background-color:  #158efb;
    padding: 1rem 0.75rem;  
    height: calc(3.5rem + 2px);
    line-height: 1.25;  
}

.form-floating>lable{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
    display: inline-block;
}

.stay-update-panel .custom_button{
    background-color: #fbbe15;
    color: #000;
    text-align: center;
    padding: 18px 48px;
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0 !important;
}

.stay-update-panel h3{
    font-size: 33px;
}

.enquiry-form{
    background: #fff !important;
}

.enquiry-banner{
    padding: 200px 0px;
    background: url('https://www.theaquarious.com/assets/images/enquiry-banner.jpg');
    background-position: center center !important;
    background-size: cover !important;
    padding-top: 300px;
    padding-bottom: 300px;
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.enquiry-banner .container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.enquiry-banner h1{
    text-align: left;
    font-size: 40px;
}

.enquiry-banner h1 span{
    display: block;
    letter-spacing: 0.8px;
    font-size: 22px;
    max-width: 850px;
    margin: 0 auto;
    width: 100%;
    color: #000;
    text-transform: initial;
    font-weight: 600;
}

.enquiry-main {
    background: #fff;
    position: relative;
    z-index: 2;
    padding: 150px 0;
}


.enquiry-main .enq-left {
    min-height: 25vh;
    position: sticky;
    top: 110px;
}

.enquiry-main .enq-left .title-st2 {
    padding: 0 0 70px;
}

.title-st2 h3 {
    color: #00a2ff;
    font-size: 40px;
}

.enquiry-main .enq-left .title-st2 h3 span {
    display: block;
    color: #000;
    font-weight: 600;
    display: inline-block;
}

.enquiry-main .enq-left p {
    padding-right: 0;
    font-size: 20px;
    letter-spacing: 0.6px;
    line-height: 40px;
}

.query-form{
    width: 50%;
}

.enquiry-main .enq-right {
    position: relative;
}

.enquiry-main .enq-right img.e-erro {
    position: absolute;
    top: -178px;
    right: 0;
}

.enquiry-main .enq-right form.contact-us {
    background: #ffffff;
    box-shadow: 0px 20px 50px #dbe2fe;
    border-radius: 20px;
    padding: 30px;
}

.enquiry-main .enq-right form.contact-us .form-group {
    margin-bottom: 20px;
}

.enquiry-main .enq-right form.contact-us label {
    color: #737b80;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
}

.enquiry-main .enq-right form.contact-us input:not([type=submit]), .enquiry-main .enq-right form.contact-us textarea, .enquiry-main .enq-right form.contact-us select {
    width: 100%;
    border-radius: 10px;
    border: none;
    margin: 0 0 15px;
    padding: 18px;
    color: #000000;
    font-size: 16px;
    border: 2px solid #f2f4f5;
    font-weight: 300;
    background-color: #f2f4f5;
}

.enquiry-main .enq-right form.contact-us button[type=submit] {
    width: 100%;
    text-transform: uppercase;
}

.enquiry-main .enq-right form.contact-us button[type=submit] span {
    background-color: #158efb;
    color: #ffffff;
    font-size: 15px;
    padding: 15px 20px;
}

.aboutus-banner{
    background: url('https://www.theaquarious.com/assets/images/about-banner.jpg');
    padding: 200px 0px 200px 0px;
}

.aboutus-banner .inner-heading {
    color: #fff;
}

.aboutus-banner .inner-heading h1{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.aboutus-banner .inner-heading h1 span{
    color: #fff !important;
    margin: 15px auto !important;
    display: block;
    letter-spacing: 0.8px;
    font-size: 22px;
    max-width: 850px;
    margin: 0 auto;
    width: 100%;
    color: #000;
    text-transform: initial;
    font-weight: 600;
}

.inner-heading h1 span.fontweight-normal {
    font-weight: normal !important;
    font-size: 16px !important;
}

.bit-history .title-panel{
    background: #fff;
    padding: 50px 0 30px !important;

}

.bit-history .title-panel h3{
    color: #00a2ff;
    font-size: 40px;
}

.bit-history .desc-panel{
    position: relative; 
    background-color: #f2f4f5;
    padding: 150px 0px;

}

.bit-history .desc-panel img{
    max-width: 200px;  
    background: #f6f6f600;
}

.bit-history .desc-panel img.nine-gl {
    position: absolute;
    right: 10px;
    top: 30px;
}

.desc-panel .rw-text{
    letter-spacing: 4.8px;
    font-size: 18px;
    line-height: 31px;
    margin-bottom: 50px;
    max-width: 640px;
}

.desc-panel .zigzag-slider-left {   
    width: 50% !important;
}

.desc-panel .zigzag-slider-right img {
    border-radius: 50px 0 0 50px;
    max-width: 320px;
}


.desc-panel .zigzag-slider-left img {
    border-radius: 0 50px 50px 0;
    max-width: 320px;
    /* margin-right: 400px; */
}

.desc-panel .zigzag-slider-content .article h4{
    font-size: calc(1.275rem + .3vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 40px;
}
.desc-panel .article{
    padding-top: 60px;
}

.desc-panel .article p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 24px;
    font-family: serif;
}
